<!DOCTYPE html>

<html>

    <head>
        
        {{> meta }}

    </head>

    <body>

        {{> header }}

        <div class="content">

            {{#if title}}

                <h1 class="content-head is-center">{{ heading }}</h1>

            {{/if}}

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                    <form class="pure-form pure-form-stacked" method="post" action="scripts/send_email.php">
                        <fieldset>

                            <label for="name">Your Name</label>
                            <input id="name" name="name" type="text" placeholder="Your Name">

                            <label for="email">Your Email</label>
                            <input id="email" name="email" type="email" placeholder="Your Email">

                            <label for="enquiry">Your enquiry</label>
                            <textarea class="pure-input-1" id="enquiry" name="enquiry" placeholder="Your Enquiry"></textarea>

                            <button type="submit" class="pure-button">Send Enquiry</button>
                        </fieldset>
                    </form>
                </div>

                <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                    <h4>Contact Us</h4>
                    {{> contactinfo }}
                </div>
            </div>

        </div>

        {{> footer }}

    </body>

    {{> ga}}

</html>