<!DOCTYPE html>

<html>

    <head>

        {{> meta }}

    </head>

    <body>

        {{> header }}

        <div class="splash-container">
            <div class="splash">
                <h1 class="splash-head">High Performance Roofing Solutions</h1>
                <p class="splash-subhead">
                    The only roofing team you will ever need.
                </p>
                <p>
                    <a href="/contact" class="pure-button pure-button-primary">Contact Us Today</a>
                </p>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <h2 class="content-head is-center">What we can help you with:</h2>

                <div class="pure-g">
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                        <h3 class="content-subhead">
                            Flat roof Installations and repairs
                        </h3>
                        <p>
                            Single-ply, built up felt and liquid plastics.
                        </p>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                        <h3 class="content-subhead">
                            Slate and tile / pitched
                        </h3>
                        <p>
                            Roofing repairs, maintenance and installation.
                        </p>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                        <h3 class="content-subhead">
                            Gutter, facia and soffits
                        </h3>
                        <p>
                            Repairs and installations including clearing and cleaning.
                        </p>
                    </div>
                    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                        <h3 class="content-subhead">
                            Electronic leak detection
                        </h3>
                        <p>
                            Wet / flood testing on all flat roof surfaces.
                        </p>
                    </div>
                </div>
            </div>

            <div class="ribbon l-box-lrg pure-g">
                <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="300" alt="File Icons" class="pure-img-responsive" src="/img/image2.png">
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

                    <h2 class="content-head content-head-ribbon">About Guaranteed Roofing Solutions</h2>

                    <p>
                        Based in Cambridge, Guaranteed Roofing Solutions can offer you help and advice with any roofing issues you may have. 
                        From small leaks and repairs to new build constructions, extensions and refurbishments, no job is too big or small.
                        All work comes with a standard <strong>10 year Guarantee</strong>!
                    </p>
                    <p>
                        <a href="/about">Read More &#187;</a>
                    </p>
                </div>
            </div>

            <div class="content">
                <h2 class="content-head is-center">Contact us now to see how we can help you</h2>

                <div class="pure-g">
                    <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                        <form class="pure-form pure-form-stacked" method="post" action="scripts/send_email.php">
                            <fieldset>

                                <label for="name">Your Name</label>
                                <input id="name" name="name" type="text" placeholder="Your Name">


                                <label for="email">Your Email</label>
                                <input id="email" name="email" type="email" placeholder="Your Email">

                                <label for="enquiry">Your enquiry</label>
                                <textarea class="pure-input-1" id="enquiry" name="enquiry" placeholder="Your Enquiry"></textarea>

                                <button type="submit" class="pure-button">Send Enquiry</button>
                            </fieldset>
                        </form>
                    </div>

                    <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                        <h4>Contact Us</h4>
                        <p>
                            <a href="/contact">Contact</a> us today to talk about your roofing needs. We can answer any and all roofing 
                            questions and help you with your project. No job is too big or small and comes with a standard 10 year guarantee.
                        </p>
                    </div>
                </div>

            </div>

            {{> footer }}

        </div>

    </body>

    {{> ga}}

</html>
