<!DOCTYPE html>

<html>

    <head>
        
        {{> meta }}

    </head>

    <body>

        {{> header }}

        <div class="content">

            {{#if heading}}

                <h1 class="content-head is-center">{{ heading }}</h1>

            {{/if}}

            <div class="pure-g">

                <div class="l-box-lrg pure-g">
                    <div class="pure-u-1-1">
                        <h3 class="content-subhead">SikaTrocal Type S</h3>
                    </div>

                    <div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-5">
                        <img alt="{{ title }}" class="pure-img-responsive" src="/img/gallery/silkatrocal-type-s.JPG" />
                    </div>

                    <div class="l-box pure-u-1 pure-u-md-4-5 pure-u-lg-4-5">
                        <p>Trocal type “S” is our most commonly used product. It’s perfect for all open and exposed roofs and it can be applied to a small garage roof or a massive super store.</p>
                        <p>It’s a mechanically fixed system that requires a solid deck of either ply wood / metal deck or concrete and it can be laid over foil back or hard rockwell insulation.</p>
                        <p>SikaTrocal Type S comes in two colours of light or slate grey. We can also attach decorative profiles or “standing seams” to the roof to give it a lead / zink effect.</p>
                    </div>
                </div>

                <div class="l-box-lrg pure-g">
                    <div class="pure-u-1-1">
                        <h3 class="content-subhead">SikaTrocal Type SGK</h3>
                    </div>

                    <div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-5">
                        <img alt="{{ title }}" class="pure-img-responsive" src="/img/gallery/silkatrocal-type-sgk.JPG" />
                    </div>

                    <div class="l-box pure-u-1 pure-u-md-4-5 pure-u-lg-4-5">
                        <p>Type SGK is simply SikaTrocal S but it’s a adhered system, using glues instead of fixings. It's perfect for exposed decks that show in the building as you will see no fixings 
                        penetrating the exposed deck.</p>
                        <p>SikaTrocal type SGK comes in the two colours of light / slate grey and can also have the decorative profiles attached to give it a lead / zink type effect.</p>
                    </div>
                </div>

                <div class="l-box-lrg pure-g">
                    <div class="pure-u-1-1">
                        <h3 class="content-subhead">SikaTrocal Type SGMA</h3>
                    </div>

                    <div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-5">
                        <img alt="{{ title }}" class="pure-img-responsive" src="/img/gallery/silkatrocal-type-sgma.JPG" />
                    </div>

                    <div class="l-box pure-u-1 pure-u-md-4-5 pure-u-lg-4-5">
                        <p>This product is solely to be used for balconies or sedum roofs (roofs to be covered in slabs, green roofs, sedum, etc). It comes yellow in colour and this gives it its long 
                        lasting life as it’s never going to be exposed to natural sunlight.</p>
                        <p>Once laid, a protection layer sheet is laid over the top to protect the membrane from penetration. It requires no fixings or glue so is extremely fast to install.</p>
                        <p>This product can not be used if it will be exposed to natural sunlight as it will degrade the product in a matter of months! It is solely designed to be covered.</p>
                        <p>Before a SGMA roof is covered it will be electronically leak tested to ensure its completely water proof before being covered.</p>
                    </div>
                </div>

                <div class="l-box-lrg pure-g">
                    <div class="pure-u-1-1">
                        <h3 class="content-subhead">SikaTrocal Type SG</h3>
                    </div>

                    <div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-5">
                        <img alt="{{ title }}" class="pure-img-responsive" src="/img/gallery/silkatrocal-type-sg.JPG" />
                    </div>

                    <div class="l-box pure-u-1 pure-u-md-4-5 pure-u-lg-4-5">
                        <p>
                            Trocal SG is simple the “S” product but comes in a thicker material. This is only to be used when a 25 year guarantee is to be issued 
                        </p>
                    </div>
                </div>
            </div>

            <div class="l-box-lrg pure-g">
                <div class="l-box pure-u-1">
                    <a class="c2a-panel" href="/contact">Contact our team today for a free no obligation quote!</a>
                </div>
            </div>

        </div>

        {{> footer }}

    </body>

    {{> ga}}

</html>