<!DOCTYPE html>

<html>

    <head>
        
        {{> meta }}

    </head>

    <body>

        {{> header }}

        <div class="content">

            {{#if title}}

                <h1 class="content-head is-center">{{ heading }}</h1>

            {{/if}}

            <div class="l-box-lrg pure-g">

                <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">

                    <img width="300" alt="About Guaranteed Roofing Solutions" class="pure-img-responsive" src="/img/gallery/IMG_0079.JPG" alt="{{ title }}" />

                </div>

                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

                    <h2 class="content-head">{{ subheading }}</h2>

                    <p>{{ subheadingcontent }}</p>

                </div>

            </div>

            <h2 class="content-head is-center">What we do:</h2>

            <div class="l-box-lrg pure-g">
                <div class="l-box pure-u-1">
                    <p>Guaranteed Roofing Solutions can help solve all your flat roofing problems!</p>
                    <p>We use the best products available in Single Ply Roofing, combined with unmatched technical knowledge from our suppliers and <strong>over 50 years 
                        experience</strong> in the field of Flat roof installation, there is nothing we can’t get over!</p>
                </div>
            </div>

            <h2 class="content-head is-center">How can we help?</h2>

            <div class="l-box-lrg pure-g">
                <div class="l-box pure-u-1">
                    <p>We can offer <strong>Roofing Solutions to any flat roof</strong> you may have wether that be a small garage roof or a super store, a refurbishment project 
                        or extension, we have the products available and the knowledge and expertise to bring you back in the dry!</p>

                    <p>We also offer complete leak teasing on all flat roofing surfaces, using either electronic or wet testing machines we can find your problem 
                    and fix it!</p>

                    <p>Our surveyors will take care of all aspects of your roof construction from design to scaffolding to the installation of your roof. All 
                    works are quality checked and all new installations come with a free leak test to insure there’s no issues once we've left the site! We 
                    provide all skips and make sure all materials are recycled and we leave your property / site as tidy as we found it.</p>

                    <p>Not only do we offer a complete roofing package we can also take care of your facias, soffits and guttering issues, wether that be a 
                    bit of a clean or if you're after a brand new set; we can provide all of this for you! From UPCV, aluminium, zink or lead.</p>

                    <p>Give your roof a new lease of life with our help! We'll take of everything so you can just sit back and relax and watch our teams work away. 
                        <a href="/contact">Contact us</a> today to find out more.
                    </p>
                </div>
            </div>

            <h2 class="content-head is-center">After care</h2>

            <div class="l-box-lrg pure-g">
                <div class="l-box pure-u-1">
                    <p>All our installations come with two guarantees:</p>
                    <ol>
                        <li><strong>The first is a product guarantee that comes from our supplier</strong> who will come out during various stages of the installation and make sure we are 
                            carrying out the works to their standard. They will offer a 10, 12, 15, 20 or 25 year guarantee depending on the type of product you choose.</li>

                        <br>

                        <li><strong>The second Guarantee comes directly from us!</strong><br>
                            This guarantee is insurance backed so even if we can no longer provide the service to this guarantee you can be assured to know that another company 
                            will be at hand to help and it won’t cost you a penny!<br>
                            This guarantee is for workmanship and will last as long as your product guarantee so If you ever have any problems you can be assured once you’ve contacted 
                            us we will be there ASAP to find out what the problem is free of charge.
                        </li>
                    </ol>
                </div>
            </div>

            <div class="l-box-lrg pure-g">
                <div class="l-box pure-u-1">
                    <a class="c2a-panel" href="/contact">Contact our team today for a free no obligation quote!</a>
                </div>
            </div>

            <h2 class="content-head is-center">Other roofing services:</h2>

            <div class="l-box-lrg pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">

                    <h3 class="content-subhead">
                        Pitched / slate and tiled roofing
                    </h3>
                    <p>
                        Using our expert Knowledge in this field we can carry out brand new installations, refurbishments and 
                        rpairs to all buildings new and old! With fantastic suppliers and a wealth of experience we can get you in the dry again!
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3 class="content-subhead">
                        Flat roofing
                    </h3>
                    <p>
                        Using the most up to date and quite frankly the best single-ply membranes we can now over come all flat roofing issues!
                        Wether it's a re-roof, new build or just a repair we guarantee to get you in the dry again!
                        We also offer information and advice of how to get the best U-Values out of your roof space! Using the best insulation 
                        on the market we can bring your roof firmly into the 21st century and help cut those heating bills down!
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3 class="content-subhead">
                        Gutters / facias / soffits
                    </h3>
                    <p>
                        Tired of those over flowing gutters? Green mouldy facias? Soffits looking a bit sorry themselves?
                        Why not let us inspect them for free and see if we can tidy them up!
                        Using our specialist cleaning equipment we can clean out those old gutters and give the boarders of your house a fresh look!
                        Alternatively we can replace and repair your facias / gutters and soffits using long lasting UPCV there will be no need to worry about having to paint or clean them again!
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                    <h3 class="content-subhead">
                        Leak detection services
                    </h3>
                    <p>
                        Our new leak detection services uses the most up to date software to identify and leaks to your flat roof!
                        Sending an electric current through a wire brush we can pick up on any moisture that has penetrated your roof! 
                        This works on most flat roofing surfaces and can find the holes the eye can't! Why replace when you can repair?
                    </p>
                </div>
            </div>

            <div class="l-box-lrg pure-g">
                <div class="l-box pure-u-1">
                    <a class="c2a-panel" href="/contact">Contact our team today for a free no obligation quote!</a>
                </div>
            </div>

        </div>

        {{> footer }}

    </body>

    {{> ga}}

</html>