<p class="contact">
    Guaranteed Roofing Solutions<br>
    22 Iceni way<br>
    Cambridge<br>
    CB4 2NZ<br>

    <i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:info@guaranteedroofingsolutions.co.uk">info@guaranteedroofingsolutions.co.uk</a><br>
    <i class="fa fa-phone"></i>&nbsp;<a href="tel:01223420739">01223 420 739</a><br>
    <i class="fa fa-mobile"></i>&nbsp;<a href="tel:07837734262">07837 734 262</a>
</p>

<div class="social-icons">
    <a href="https://twitter.com/GRSCambs" target="_blank"><i class="fa fa-twitter-square"></i></a>
    <a href="https://www.instagram.com/grscambs" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/ben-kipling-57353b50/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
</div>